{% extends 'layouts/application.html' %}

{% block content %}
<main class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <h1><img class="logo" src="images/tm-cloud-logo.svg" alt="TM Cloud" width="240"></h1>
            <ul class="mdc-list">
                <li>
                    <a class="mdc-list-item" href="https://cloud.digitalocean.com/dashboard?i=39ff40">
                        <img alt="[icon] DigitalOcean" src="https://www.digitalocean.com/favicon-97c70234.png"
                             class="mdc-list-item__graphic">
                        <span class="mdc-list-item__text">DigitalOcean</span>
                    </a>
                </li>
                <li>
                    <a class="mdc-list-item" href="https://swarmpit.dev.tmcloud.io/">
                        <img alt="[icon] Swarmpit" src="https://swarmpit.io/img/apple-touch-icon.png"
                             class="mdc-list-item__graphic">
                        <span class="mdc-list-item__text">Swarmpit DEV</span>
                    </a>
                </li>
                <li>
                    <a class="mdc-list-item" href="https://swarmpit.prod.tmcloud.io/">
                        <img alt="[icon] Swarmpit" src="https://swarmpit.io/img/apple-touch-icon.png"
                             class="mdc-list-item__graphic">
                        <span class="mdc-list-item__text">Swarmpit PROD</span>
                    </a>
                </li>
                <li>
                    <a class="mdc-list-item" href="https://amplify.nginx.com/dashboard/20698">
                        <img alt="[icon] Amplify" src="https://amplify.nginx.com/static/6.4.1/img/favicon.png"
                             class="mdc-list-item__graphic">
                        <span class="mdc-list-item__text">Amplify Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="mdc-list-item" href="https://rollbar.com/TopMonks/Quickshirt/">
                        <img alt="[icon] Rollbar" src="https://pbs.twimg.com/profile_images/879755848238514176/2icOwPDI_400x400.jpg"
                             class="mdc-list-item__graphic">
                        <span class="mdc-list-item__text">Rollbar Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <iframe id="apex" src="https://status.ping.apex.sh/d38ed1f6-9309-45bf-8540-d712a3a00e4c"></iframe>
        </div>
    </div>
</main>
{% endblock %}
